@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 40px;
    font-family: 'Staatliches';
    text-shadow: 2px 4px 5px rgb(68, 68, 176);
}